<!-- Faction Card Templates -->
<template id="faction-card-template">
  <article class="faction-card" data-faction="" tabindex="0">
    <header>
      <hgroup>
        <h4><span class="flag"></span> <span class="faction-name"></span></h4>
        <h5>Faction Traits</h5>
      </hgroup>
    </header>
    <div class="card-body">
      <!-- Traits will be dynamically inserted here -->
    </div>
  </article>
</template>
<template id="faction-trait-feature-template">
  <div class="feature-box">
    <span class="icon"></span>
    <span class="trait-text"></span>
  </div>
</template>
<template id="faction-trait-penalty-template">
  <div class="penalty-box">
    <span class="icon"></span>
    <span class="trait-text"></span>
  </div>
</template>

<!-- Part/Upgrade Button Templates -->
<template id="part-btn-template">
  <button class="part pixel-btn is-square" title="">
    <div class="image"></div>
    <div class="part-price"></div>
  </button>
</template>
<template id="upgrade-btn-template">
  <button class="upgrade pixel-btn is-square" data-id="">
    <div class="image"></div>
    <div class="upgrade-price" data-cost=""></div>
    <div class="levels" data-level="" data-max-level=""></div>
  </button>
</template>

<!-- Splash Screen Button Templates -->
<template id="splash-new-game-btn-template">
  <button id="splash-new-game-btn" class="splash-btn splash-btn-start">
    New Game
  </button>
</template>
<template id="splash-load-game-btn-template">
  <button id="splash-load-game-btn" class="splash-btn splash-btn-load">
    <div class="load-game-header"><span>Load Local Game</span></div>
    <div class="load-game-details">
      <div class="money"></div>
      <div class="played-time"></div>
    </div>
    <div class="synced-label" style="display: none;">☁️</div>
  </button>
</template>
<template id="splash-load-game-upload-row-template">
  <div class="splash-btn-group">
    <button
      id="splash-load-game-btn"
      class="splash-btn splash-btn-load splash-btn-left"
    >
      <div class="load-game-header"><span>Load Local Game</span></div>
      <div class="load-game-details">
        <div class="money"></div>
        <div class="played-time"></div>
      </div>
      <div class="synced-label" style="display: none;">☁️</div>
    </button>
    <button
      id="splash-upload-option-btn"
      class="splash-btn splash-btn-cloud upload-option-button splash-btn-right"
      title="Upload local save to Google Drive"
    >
      <div class="upload-text">Upload</div>
    </button>
  </div>
</template>
<template id="splash-load-cloud-btn-template">
  <button id="splash-load-cloud-btn" class="splash-btn splash-btn-cloud">
    Load Cloud Save
  </button>
</template>
<template id="splash-google-signin-btn-template">
  <button
    id="splash-signin-btn"
    class="splash-btn splash-btn-google google-signin-button"
  >
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      width="48"
      height="48"
      viewBox="0 0 48 48"
      class="google-icon"
    >
      <path
        fill="#EA4335"
        d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
      />
      <path
        fill="#4285F4"
        d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
      />
      <path
        fill="#FBBC05"
        d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
      />
      <path
        fill="#34A853"
        d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
      />
      <path fill="none" d="M0 0h48v48H0z" />
    </svg>
    <span>Sign In</span>
  </button>
</template>
<template id="splash-google-signout-btn-template">
  <button
    id="splash-signout-btn"
    class="splash-btn splash-btn-cloud google-signout-button"
  >
    Sign Out
  </button>
</template>

<!-- General UI Button Templates -->
<template id="tooltip-close-btn-template">
  <button id="tooltip_close_btn" title="Close">×</button>
</template>
<template id="buy-btn-template">
  <button disabled>
    Buy
    <img
      src="img/ui/icons/icon_cash.png"
      class="icon-inline"
      alt="cash"
      style="display: none"
    />
    <span class="cost-text"></span>
  </button>
</template>
<template id="install-btn-template">
  <button class="contrast">Install App</button>
</template>
<template id="cloud-save-btn-template">
  <button class="contrast splash-cloud-button">
    <div class="load-game-header">Load Cloud Save</div>
  </button>
</template>
<template id="loading-btn-template">
  <button class="splash-btn splash-btn-load" disabled>
    <div class="loading-container">
      <div class="loading-spinner"></div>
      <span class="loading-text"></span>
    </div>
  </button>
</template>
<template id="google-signin-btn-with-icon-template">
  <button>
    <div class="google-signin-container">
      <svg width="24" height="24" viewBox="0 0 24 24" class="google-icon">
        <path
          d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z"
          fill="#4285F4"
        />
        <path
          d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z"
          fill="#34A853"
        />
        <path
          d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z"
          fill="#FBBC05"
        />
        <path
          d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z"
          fill="#EA4335"
        />
      </svg>
      <span>Sign In</span>
    </div>
  </button>
</template>

<!-- Tooltip Template -->
<template id="tooltip-body-template">
  <div
    data-role="title"
    class="tooltip-title"
    style="font-size: 1.1em; font-weight: bold; margin-bottom: 0.5em"
  ></div>
  <div data-role="desktop-summary" class="tooltip-summary-row"></div>
  <p data-role="description"></p>
  <dl class="tooltip-stats" data-role="desktop-stats"></dl>
  <footer id="tooltip_actions"></footer>
</template>
